*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  position: fixed;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  max-width: 7vw;
  background: #ffffff;
  background: radial-gradient(at center, #ffffff, #fcf8e9);
}
.window-navigation {
  display: flex;
  padding-top: 20px;
  gap: 5px;
}

.window-dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.gold {
  background-color: gold;
}

.green {
  background-color: greenyellow;
}

.nav-icon-containers:hover {
  width: 58px;
  border-radius: 15px;
  fill: rgb(255, 69, 0);
}

.nav-icon-box {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.logout {
  padding-bottom: 25px;
}

.logout svg:hover {
  height: 65px;
  width: 65px;
}

svg {
  height: 50px;
  width: 50px;
}

.toolbar-pic img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

select {
  display: block;
}

.tool-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 10vh;
}

.search-container {
  width: 70vw;
}

#toolbar-search {
  width: 100%;
  height: 4vh;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 1.2em;
}

#search-form {
  position: relative;
}

.search-logo {
  position: absolute;
  height: 3vh;
  fill: lightgray;
  top: 3px;
  left: 4px;
}

.hide {
  display: none;
}

.search-placeholder {
  position: absolute;
  top: 9px;
  left: 50px;
  color: lightgray;
  font-size: 1.1em;
}

.toolbar-links {
  display: flex;
  align-items: center;
  gap: 80px;
}

.toolbar-links > ul > li {
  position: relative;
  z-index: 5;
}

.toolbar-links > ul > li > ul {
  position: absolute;
  background-color: white;
  right: 20px;
  top: 25px;
}

.bell-icon {
  height: 35px;
}

.account-settings {
  position: absolute;
  top: 50px;
  right: 8px;
  background-color: white;
}

.toolbar-pic {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}

.section-1 {
  display: flex;

  min-height: 45vh;
}

.section-2 {
  min-height: 45vh;
}

.tech-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 63vw;
}

.tech-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  height: 90px;
  border-radius: 10px;
}

.card-1 {
  background-color: #ffba9e31;
}

.card-icon {
  height: 40px;
}

.card-2 {
  background-color: #b7d75028;
}

.card-3 {
  background-color: #ff76442f;
}

.card-4 {
  background-color: #8bfd872d;
}

.card-5 {
  background-color: #ed912931;
}

.card-6 {
  background-color: #0349112c;
}

.card-number {
  font-size: 2.8em;
  font-weight: bolder;
  padding-left: 30px;
}

.card-icon {
  width: 225px;
  display: flex;
  justify-content: flex-end;
  padding-left: 140px;
}

.card-text {
  font-size: 1em;
}

.ytd-graph-container {
  min-width: 30vw;
}

.section-2 {
  display: flex;
}

.monthly-container {
  min-width: 50vw;
}
